<%= render "shared/errors", obj: @person %>
<div class="ui raised very padded text container segment">

  <%= form_with(model: person, local: true, html: { class: "ui form", autocomplete: "off" }) do |form| %>
  <h2 class="ui dividing header">New Person Information</h2>
    <div class="field">
      <%= form.label :name %>
      <div class="ui right icon input">
        <%= form.text_field :name %>
        <i class="user icon"></i>
      </div>
    </div>


  <div class="field">
    <%= form.label :country_id %>
    <%= form.collection_select :country_id, @countries,:id, :name, options = {:prompt => 'Select a Country...'},
    html_options = {class: "ui fluid search selection dropdown"}%>
  </div>

  <div class="field">
    <%= form.label :state_id %>
    <%= form.collection_select :state_id, @states, :id, :name, {:prompt => 'Please select a State...'},
    html_options = {class: "ui fluid search selection dropdown"} %>
  </div>

  <div class="field">
    <%= form.label :city_id %>
    <%= form.collection_select :city_id, @cities, :id, :name, {:prompt => 'Please select a City...'},
    html_options = {class: "ui fluid search selection dropdown"} %>

  </div>


  <div class="actions">
      <%= form.submit %>
  </div>
  <% end %>





</div>
