<p id="notice"><%= notice %></p>
<hr>
<h1>Cities of <%= @state.name %>, <%= @state.country.name %></h1>
<hr>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>State</th>
      <th colspan="3">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @state.cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
        <td><%= city.state.name %></td>
        <td><%= link_to 'Show', city %></td>
        <td><%= link_to 'Edit', edit_city_path(city) %></td>
        <td><%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New City', new_city_path %>
